.chart-container {
	position: relative; /* for absolutely positioned tooltip */

	.axis, .chart-label {
		fill: #000;

		line {
			stroke: #e6e5e3;
		}
	}
	.dataset-units {
		circle {
			stroke: #fff;
			stroke-width: 2;
		}

		path {
			fill: none;
			stroke-opacity: 1;
			stroke-width: 2px;
		}
	}
	.dataset-path {
		stroke-width: 2px;
	}
	.path-group {
		path {
			fill: none;
			stroke-opacity: 1;
			stroke-width: 2px;
		}
	}
	line.dashed {
		stroke-dasharray: 5, 3;
	}
	.axis-line {
		.specific-value {
			text-anchor: start;
		}
		.y-line {
			text-anchor: end;
		}
		.x-line {
			text-anchor: middle;
		}
	}
	.legend-dataset-text {
		fill: #000;
		font-weight: 400;
		font-size:13px;
	}
}

.graph-svg-tip {
	position: absolute;
	z-index: 99999;
	padding: 10px;
	font-size: 13px;
	color: black;
	border:1px solid #cbcac7;
	box-shadow: 0 7px 23px -8px rgba(0,0,0,.1);
	overflow:hidden;
	text-align: center;
	background: white;
	border-radius: 0;
	ul {
		padding-left: 0;
		display: flex;
	}
	ol {
		padding-left: 0;
		display: flex;
	}
	ul.data-point-list {
		li {
			min-width: 90px;
			flex: 1;
			font-weight: 400;
		}
	}
	strong {
		color: #000;
		font-weight: 400;
	}
	.svg-pointer {
		position: absolute;
		height: 5px;
		margin: 0 0 0 -5px;
		content: ' ';
		border: 5px solid transparent;
		border-top-color: #cbcac7;
	}
	&.comparison {
		padding: 0;
		text-align: left;
		pointer-events: none;
		.title {
			display: block;
			font-size:15px;
			padding: 10px;
			margin: 0;
			font-weight: 600;
			line-height: 1;
			pointer-events: none;
		}
		ul {
			margin: 0;
			white-space: nowrap;
			list-style: none;
		}
		li {
			display: inline-block;
			padding: 3px 10px;
		}
	}
}
